body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    background-color: #1A535C;
}

.board-container {
    width: 90%;
    border: 1px solid black;
    background-color: white;
    margin-left: 20px;
    padding: 20px;
}

.button-container {
    width: 100px;
}

.button-container button {
    width: 100px;
    height: 100px;
    background-color: #1A535C;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.btn-start {
    background-image: url("../images/start.png");
    background-size: cover;
    border-radius: 100%;
}

.btn-pause {
    margin-top: 20px;
    background-image: url("../images/pause.png");
    background-size: cover;
    border-radius: 100%;
}

.btn-stop {
    margin-top: 20px;
    background-image: url("../images/stop.png");
    background-size: cover;
    border-radius: 100%;
}

.btn-square {
    margin-top: 20px;
    background-image: url("../images/square.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    padding: 10px;
}

.btn-circle {
    margin-top: 20px;
    background-image: url("../images/circle.png");
    background-size: cover;
    border-radius: 100%;
}

.btn-arrow {
    margin-top: 20px;
    background-image: url("../images/arrow.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
}

.button-container button:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

.square {
    background-image: url("../images/bar.png");
    background-color: green;
    width: 100px;
    height: 100px;
    margin: 10px;
    background-size: cover;
}

.circle {
    background-color: yellow;
    margin: 10px;
}

.arrow {
    background-color: orangered;
    margin: 10px;
}