.shape {
    display: inline-block;
    padding: 0;
}

.shape:hover {
    cursor: pointer;
}

.active {
    /*border: 2px solid red !important;*/
}

.selected {
    stroke: red !important;
}

.square {

}

.circle {

}

.arrow {

}