.shape {
    display: inline-block;
    position: relative;
    padding: 0;
}

.shape:hover {
    cursor: pointer;
}

.square {
    position: absolute;
}

.circle {
    position: absolute;
}

.arrow {
    position: absolute;
}